.welcome{
    height: 100vh;
    background: linear-gradient(to bottom, #ff4141 0%, #e1ffea22 60%);    /* gradient with 180 degree rotation, 2 color codes, and 60% visibility */
    display: flex;   /* 0 degrees directs the gradient to top, 180 directs it to bottom */
}
.welcome-left{
    flex: 1;                    /* shorthand for  flex: 1 1 0, which means that these items will grow and shrink according to window size */
    display: flex;
    flex-direction: column;     /* arrange all the text in a column */
    justify-content: center;    /* centers content */
    gap: 20px;                  /* adds gap of 20px between items */
    padding-left: 180px;        /* offsets content by 180px on the left */
    line-height: 1.1;           /* line spacing for text */
}
.welcome-left h2{
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}
.welcome-left p{
    color: #171717;
    font-size: 100px;
    font-weight: 700;
}
.welcome-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width:1280px){
    .welcome-left{
        padding-left: 100px;
    }
    .welcome-left h2{
        font-size: 22px;
    }
    .welcome-left p{
        font-size: 60px;
    }
    .welcome-right img{
        width: 500px;
    }
}
@media(max-width:1024px){
    .welcome-left{
        padding-left: 80px;
    }
    .welcome-left h2{
        font-size: 20px;
    }
    .welcome-left p{
        font-size: 50px;
    }
    .welcome-right img{
        width: 400px;
    }
}
@media(max-width:800px){
    .welcome-left{
        padding-left: 30px;
    }
    .welcome-left h2{
        font-size: 16px;
    }
    .welcome-left p{
        font-size: 40px;
    }
    .welcome-right img{
        width: 200px;
    }
}
@media(max-width:500px){
    .welcome{
        flex-direction: column;
    }
    .welcome-left h2{
        font-size: 18px;
    }
    .welcome-left p{
        font-size: 50px;
    }
}