.product-display{
    width: 90%;
    display: flex;
    margin: 0px auto;
}
.arrow a{
    justify-content: center;
    align-items: center;
    background: #f3f3f3;
    width: 108px;
    color: black;
    font-size: 70px;
    display: flex;
    margin: 35cqh auto auto;
    border: 1px solid #ebebeb;
    border-radius: 70px;
}
.product-display-left-right-container{
    display: flex;
    justify-content: space-evenly;
}
.product-display-left{
    display: flex;
}
.product-display-left img{
    display: block; /* do not display image flex so it won't fill container size, but will keep aspect ratio */
    width: 185px;
    height: auto;
    max-height: 375px;
    margin: auto auto;
    padding: 0px 200px;
    border-radius: 20px;
}
.product-display-right{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}
.product-display-right h1{ /* styles product name and "select size" heading */
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}
.product-display-right-stars{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.product-display-right-price{
    display: flex;
    margin: 40px 0px;
    font-size: 24px;
    font-weight: 700;
}
.product-display-right-description{
    width: 100%;
}
.add-to-cart-btn button{ /* styles add to cart button */
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin: 40px 0px;
    border: none;
    border-radius: 75px;
    outline: none;
    cursor: pointer;
}
.add-to-cart-btn button:hover{
    background: #cf1a1a;
}
@media(max-width:1280px){
    .product-display-left img{
        width: 150px;
        padding: 0px 150px;
    }
}
@media(max-width:1024px){
    .arrow a{
        width: 50px;
        height: 50px;
        font-size: 45px;
    }
    .product-display-left img{
        width: 125px;
        padding: 0px 125px;
    }
    .product-display-right h1{
        font-size: 30px;
    }
    .product-display-right-price{
        font-size: 20px;
        margin: 30px 0;
    }
}
@media(max-width:800px){
    .product-display{
        justify-content: space-evenly;
    }
    .product-display-left-right-container{
        width: 50vw;
        flex-direction: column;
        gap: 30px;
    }
    .product-display-left img{
        padding: 0;
    }
    .product-display-right{
        align-items: center;
        text-align: center;
        padding: 0;
    }
}