.shop-category-indexSort{   /* styles the text at the top of the page */
    display: flex;
    margin: 10px 170px;
    justify-content: space-between;
    align-items: center;
}
.shop-category-indexSort p{ /* styles thj "showing x out of x products" */
    font-weight: 600;
}
.shop-category-sort{    /* styles just the "Sort By" and dropdown */
    padding: 10px 20px;
}
.shop-category-sort select{
    width: 150px;
    padding: 5px;
    text-align: center;
    font-family: Poppins;
    border-radius: 20px;
    border: 1px solid #888;
}
.shop-category-sort select:focus{  /* keeps border the same, and removes outline when selecting a dropdown */
    border: 1px solid #888;      /* so styling remains consistent */
    outline: none;
}
.shop-category-products{
    margin: 20px;
    margin-bottom: 20%;
    display: grid;
    justify-content: space-around;
    width: 90vw;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* makes 4 columns with equal width using fractional units */
    row-gap: 80px;
}